<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>code&#x2F;datums&#x2F;components&#x2F;proximity_monitor.dm - Paradise Station 13</title>
</head>
<body>
<header>
    <a href="index.html">Paradise Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
</header>
<main>
<h1>code/datums/components/proximity_monitor.dm 
            <a href="https://github.com/ParadiseSS13/Paradise/blob/da0507e94781ce8b5abab74279e7ea96eab10fc9/code/datums/components/proximity_monitor.dm">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;proximity_monitor.dm"/></a></h1>

<table class="summary" cellspacing="0">
        <tr><th><a href="datum&#x2F;component&#x2F;proximity_monitor.html">&#x2F;datum&#x2F;component&#x2F;proximity_monitor</a></th><td>Attaching this component to an atom means that the atom will be able to detect mobs or objects moving within a specified radius of it.</td></tr>
        <tr><th><a href="datum&#x2F;component&#x2F;proximity_monitor&#x2F;advanced.html">&#x2F;datum&#x2F;component&#x2F;proximity_monitor&#x2F;advanced</a></th><td>This component functions similar to the basic version, however it has some extra features:</td></tr>
        <tr><th><a href="obj&#x2F;effect&#x2F;abstract&#x2F;proximity_checker.html">&#x2F;obj&#x2F;effect&#x2F;abstract&#x2F;proximity_checker</a></th><td>Inteded for use with the proximity checker component <a href="datum/component/proximity_monitor.html" title="/datum/component/proximity_monitor">/datum/component/proximity_monitor</a>.
Whenever a movable atom crosses this object, it calls <code>HasProximity()</code> on the object which is listening for proximity (<code>hasprox_receiver</code>).</td></tr>
        <tr><th><a href="obj&#x2F;effect&#x2F;abstract&#x2F;proximity_checker&#x2F;advanced.html">&#x2F;obj&#x2F;effect&#x2F;abstract&#x2F;proximity_checker&#x2F;advanced</a></th><td>Like basic proximity checkers, these objects can also detect proximity.
However these are meant for when you need to have some additional (more advanced) behavior on top of what basic proximity checkers can do.</td></tr>
        <tr><th>/<a href="obj.html">obj</a>/<a href="obj/effect/abstract/proximity_checker.html">effect/abstract/proximity_checker</a>/<a href="obj/effect/abstract/proximity_checker/advanced.html">advanced</a>/inner_field</th><td>An advanced proximity checker object which sits on the the inner tiles of a field.</td></tr>
        <tr><th>/<a href="obj.html">obj</a>/<a href="obj/effect/abstract/proximity_checker.html">effect/abstract/proximity_checker</a>/<a href="obj/effect/abstract/proximity_checker/advanced.html">advanced</a>/edge_field</th><td>An advanced proximity checker object which sits on the outer edge tiles of a field.</td></tr></table></main>
<footer>
    paradise.dme
    <a href="https://github.com/ParadiseSS13/Paradise/tree/da0507e94781ce8b5abab74279e7ea96eab10fc9">da0507e</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.1</a></footer>
</body>
</html>
